
<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Vehicle RPM
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Engine RPM
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Engine Temperature
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
  </div>  
</div>




<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Fuel Level
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Tire Pressure
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category"></h5>
          <h3 class=" card-title">
             Battery Level
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"> </div>
        </div>
      </div>
    </div>
  </div>  
</div>









